name = "pinterest-of-bot"
main = "dist/index.js"
compatibility_date = "2024-01-01"
workers_dev = true

[env.production]
vars = { ENVIRONMENT = "production" }

[env.development]
vars = { ENVIRONMENT = "development" }
